body {
    font-family: 'Shippori Antique B1', sans-serif;
}

header {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5vh;
    background-image: linear-gradient(to right, #3462bb, #20094b);
}

.input {
    text-align: center;
}

input[type="text"] {
    font-weight: bold;
    font-size: 20px;
    background-color: #f7f7f7;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
}

input[type="submit"] {
    color: #e7e7e7;
    background: #5098e6;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

input[type="submit"]:hover {
    color: white;
    background: #4888cc;
    box-shadow: inset;
}

.display {
    height: 30vh;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 10px;
}

.line-break {
    border-bottom: 2px solid black;
}

.saved-cities {
    color: #2b2b2b;
    background: #aeaeae;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.saved-cities:hover {
    background: #979797;
}

.card {
    background-color: #2d3e50;
    color: white;
}

.uv {
    padding: 2px;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.uv-none {
    background-color: rgb(141, 141, 141);
}

.uv-low {
    background-color: #1fb714;
}

.uv-moderate {
    color: black;
    background-color: #fdf306;
}

.uv-high {
    background-color: #ff9900;
}

.uv-very-high {
    background-color: #de0806;
}

.uv-extreme {
    background-color: #cc99fe;
}

